#beneficios {
    height: 50vh;
    background-color: var(--verde-oliva);
    padding: 4em;
}


.beneficios-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.beneficios-content h4{
    font-size: 4rem;
    color: var(--creme);
    font-weight: normal;
}

.beneficios-content h5{
    padding-top: 12px;
    padding-bottom: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--cinza-claro);
}

