.beneficio-container {
    display: flex;
    gap: 16px;
    padding-top: 2rem;
}

.beneficio {
    border-radius: 0.8rem;
    background-color: var(--creme);
    color: var(--verde-oliva);
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;                 /* Para que cada div ocupe a mesma largura e o espaço seja distribuído igualmente */
    padding: 1rem;
    width: 22rem;
}

.beneficio-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.beneficio-title h6 {
    font-weight: 300;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    
}

.beneficio p {
    color: var(--cinza-claro);
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 300;
}


