.depoimento {
    background-color: var(--branco);
    width: 40%;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
}

.depoimento .comment {
    text-align: left;
    color: var(--cinza-claro);
    font-weight: 500;
}
.foto-nomes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.depoimento .nome-cargo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.depoimento .nome-cargo .nome {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--marrom);
}

.depoimento .nome-cargo .cargo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-claro);
}