/* src/styles/DesktopNavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5.5rem;
  background-color: var(--laranja);
  color: var(--branco);
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s ease;
}

.navbar.hidden {
  top: -90px;
}

.logo img {
  height: 100%;
}

.menu {
  display: flex;
}

.item-menu {
  font-size: 1.4rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  color: var(--branco);
  padding: 0 2rem;
  transition: color 0.3s ease;
}

li:hover {
  color: #dddddd;
}
