#footer {
    background-color: var(--verde-oliva);
    color: var(--creme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.2rem 0;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

ul li {
    font-size: 2rem;
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle h5{
    font-size: 1rem;
    font-weight: 300;
}

.subtitle h6{
    color: var(--cinza-claro);
    font-size: 1rem;
    font-weight: 300;
}
