/* src/styles/InicioSection.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.inicio-section {
  padding: 40px;
  background-color: var(--branco); /* Cor de fundo da seção (branco) */
  text-align: center;
  margin: 100px 80px;
}

.inicio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex: 1;
  width: 50%;
  text-align: left;
}

.right-content {
  width: 50%;
  text-align: right;
  flex: 1;
}

.carrossel-container {
  width: 72%; /* Defina a largura desejada, pode ajustar conforme necessário */
  margin: 0 auto; /* Centralize o contêiner na página */
}

.slick-slide img {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Estilize os dots personalizados do carrossel */
.custom-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #bebebe; /* Cor dos dots */
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.slick-active {
  background-color: #e07500; /* Cor quando o dot está ativo */
}

.inicio-content h2 {
  color: var(--verde-oliva);
  font-size: 2.5em;
  margin-bottom: 10px;
}

.inicio-content h3 {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: var(--cinza-claro);
  font-weight: normal;
}

.inicio-content p {
  font-size: 1.4em;
  color: var(--cinza-claro);
  width: 50%;
  font-weight: 300;
  margin-bottom: 60px;
}

.botao-primario {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 1.6em;
  font-weight: 300;
  text-decoration: none;
  background-color: var(--laranja);
  color: var(--branco);
  width: 100%;
  cursor: pointer;
}

.inicio-content button:hover {
  background-color: #935a1c;
}

/* Estilize o carrossel de fotos conforme necessário */
