/* src/styles/NavBar.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5.5rem;
  background-color: var(--laranja);
  color: var(--branco);
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.menu {
  display: flex;
}

.item-menu {
  font-size: 1.2rem;
}

ul {
  display: flex; 
}

a {
  text-decoration: none;
}

li {
  color: var(--branco);
  list-style-type: none;
  padding: 0.5rem 2rem;
  transition: color 0.3s ease;
}

li:hover {
  color: #dddddd;
}
