/* src/styles/NavBar.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--laranja);
  color: var(--branco);
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.menu {
  display: flex;
}

.menuItem {
  margin-right: 26px;
  font-size: 1.6em;
  cursor: pointer;
  transition: color 0.3s ease; 
}

.menuItem:hover {
  color: #dddddd;
}
